@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');

main {
  min-height: 80vh;
  font-family: 'Roboto', sans-serif;
}

h3 {
  padding: 1rem 0;
  font-family: 'Yusei Magic', sans-serif !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-family: 'Yusei Magic', sans-serif !important;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  font-family: 'Yusei Magic', sans-serif !important;
}

.bg-2 {
  background-color: gray; /* Dark Blue */
  color: #ffffff;
}

/* Social Media */

/* .social {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
} */

.fab:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  /* color: white; */
  /* padding: 20px; */
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-google {
  background: #dd4b39;
  color: white;
  /* padding: 20px; */
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  /* padding: 20px; */
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
